matplotlib
ipympl
python-frontmatter
qgrid
pbx_gs_python_utils
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
